// // HEADER

// * {
//   font-family: 'Montserrat', sans-serif;
// }

// :root {
//   --main-color:#c3c3c3;
//   --accent-color: #FF8983;
//   --text-color: #ACABB9;
//   --second-color: #1A0F91;
// }

// body {
//    overflow-x:hidden;
// }
// .text-main-color {
//   color: var(--main-color);
// }
// .text-second-color {
//   color: var(--second-color);
// }
// .text-accent-color {
//   color: var(--accent-color)
// }
// body {
//   margin: 0px;
// }
// h1 {
//    font-weight: 600;
// }
// .fw-600 {
//   font-weight: 600;
// }
// .bg-img1 {
//   /* width: 100%;
//   height: 100vh; */
//   /* width: 1920px; */
//   height: 1080px;
//   background-image: url('/media/bg-presto_Tavola\ disegno\ 1\ copia_Tavola\ disegno\ 1\ copia.jpg');
//   background-size: cover;
//   background-position: center;
// }
// .text-decoration-none {
//    text-decoration: none;
// }

// .font-size25 {
//   font-size: 25px;
// }
// .btn1 {
//   width: 150px;
//   height: 50px;
//   border-radius: 30px;
//   border: 2px solid white;
//   background-color: transparent;
// }

// .btn2 {
//   width: 180px;
//   height: 70px;
//   border-radius: 40px;
//   border: none;
//   background-color: var(--accent-color)
// }

// .btn1:hover {
//   border: none;
//   background-color: var(--accent-color);
// }
// .bg-img2 {
//   background-image: url('/media/bg-presto_Tavola\ disegno\ 1\ copia-05.jpg');
//   background-size: cover;
//   background-position: center;
//   /* width: 1920px; */
//   height: 1080px;
// }
// .bg-img3 {
//   background-image: url('/media/bg-presto_Tavola\ disegno\ 1\ copia-06.jpg');
//   background-size: cover;
//   background-position: center;
//   /* width: 100%;
//   height: 100vh; */
//   /* width: 1920px; */
//   height: 1080px;
// }



//GENERALITA'
* {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --main-color:#c3c3c3;
  --accent-color: #FF8983;
  --text-color: #ACABB9;
  --second-color: #1A0F91;
}

.text-main-color {
  color: var(--main-color);
}

.text-second-color {
  color: var(--second-color);
}

.second-color {
  color: var(--second-color);
}

.text-accent-color {
  color: var(--accent-color)
}

.text-gray{
  color: var(--text-color);
}

.bg-accent-color{
  background-color: var(--accent-color);
}

body {
  margin: 0px;
  background-color: white;
  overflow-x:hidden;
}

h1 {
   font-weight: 600;
}

h2,h3,h4{
  font-weight: 600;
  color:var(--text-color);
}
p{
  color:var(--text-color);
}

.text-align-end {
  text-align: end;
}

//FONT-SIZE/FONT-WEIGHT
.fw-600 {
  font-weight: 600;
}

.font-size25 {
  font-size: 25px;
}

.font-size20 {
  font-size: 20px;
}

//ANCHOR
*a{
  text-decoration: none !important;
  color: var(--second-color);
}


.a-category{
  color: white;
}

.a-hover {
  font-size: 25px;
  transition: 0.4s;
}

.a-hover:hover {
  font-size: 30px;
}

.text-decoration-none {
   text-decoration: none;
}

//MARGIN-PADDING


.padding-descrizione{
  padding-right: 20px;
  padding-left: 20px;
}
.ps100 {
  padding-left: 100px;
}
.m-150 {
  margin-top: 150px;
}

.mt-50{
  margin-top: 50px;
}

.m-header-fix{
  margin-top: -100px;
}

.m-allert-fix{
  margin-top: 100px;
}

//POSITION


.position-custom-xl {
  position: relative;
  top: -80px;
}



.position-custom2 {
  position: relative;
  top: -150px;
}

//ALTEZZE
.h-75 {
  height: 75%;
}

//LINE HEIGHT
.line-height40 {
  line-height: 40px;
}

.line-height35 {
  line-height: 35px;
}

//BORDER
.border-radius-custom {
  border-radius: 30px;
}

.border-search-input{
  border-bottom: 2px solid rgb(218, 217, 217);
  border-top: 2px solid rgb(218, 217, 217);
  border-left: 2px solid rgb(218, 217, 217);
}

/* .border-search-button{
  // border-top: 1px solid var(--second-color);
  // border-bottom: 1px solid var(--second-color);
  // border-right: 1px solid var(--second-color);
} */

//OUTLINE
.outline-transition-none {
  outline: none !important;
  transition: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

//BACKGROUND IMAGES
.bg-img1 {

  height: 1080px;
  background-image: url('/media/bg-presto_Tavola\ disegno\ 1\ copia_Tavola\ disegno\ 1\ copia.jpg');
  background-size: cover;
  background-position: center;
}

.bg-img2 {
  background-image: url('/media/bg-presto_Tavola-unita-secondaparte.png');
  background-size: cover;
  background-position: center;
  height: 1522px;
}

.bg-img3 {
  // background-image: url('/media/bg-presto_Tavola\ disegno\ 1\ copia-06.jpg');
  // //background-size: contain;
  // background-position: top 0px left -113px;
  // background-repeat: no-repeat;
  // min-height: 450px;
  
}

.bg-gradient-footer {
  background: linear-gradient(90deg, #7E75FC,#7E76FC, #8487FB, #8998FB ,#91B3FA)
}

.bg-gradient-navbar {
  background: linear-gradient(90deg, #90adfb,#8ca4fa, #8a9dfb, #8691fb,#848afc)
}

//IMMAGINI
.img-1 {
  width: 300px;
  height: 250px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
}

//BOTTONI
button:focus{
  box-shadow: none !important;
}
button{
  transition: 0.4s !important;
}

.btn-labels{
  border: none;
  box-shadow: none;
  background-color: white;
  padding: 0px;
}

.btn-labels:hover{
  color: var(--accent-color);
}

.btn1 {
  min-width: 150px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  padding: 0px 18px 0px 18px;
}

.btn1-annuncio {
  min-width: 150px;
  height: 50px;
  padding: 0px 18px 0px 18px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
}

.btn1:hover {
  border: none;
  background-color: var(--accent-color);
}

.btn1-annuncio:hover {
  border: none;
  background-color: var(--accent-color);
}

.btn2 {
  width: 250px;
  height: 60px;
  border-radius: 40px;
  border: none;
  background-color: var(--accent-color);
  padding: 0px 18px 0px 18px;
}

.btn3 {
  height: 60px;
  border-radius: 40px;
  background-color: transparent;
  border: none;
  font-size:20px;
  transition: all 0.3s ease 0s;
  padding: 0px 18px 0px 18px;
  width: 75%;
}

.btn3:hover {
  height:60px;
  border-radius: 40px;
  background-color: transparent;
  
}
.btn3:hover a {
 color: var(--main-color);
 font-size:22px;
 transition: all 0.3s ease 0s;
}

.btn-position-search{
  position:relative;
  right:35px;
}

.btn-info {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--accent-color);
  border: none;
}

.btn-info:hover {
  background-color:var(--accent-color)!important;
}

.btn-modifica{
  background-color: #8CA4FA;
  color: white;
  transition: 0.4s;
}

.btn-modifica:hover{
  background-color: white;
  color: #8CA4FA;
  border: 2px solid #8CA4FA;
}

.btn-elimina{
    background-color: var(--accent-color);
    color: white;
    transition: 0.4s;
}
.btn-elimina:hover{
  background-color: white;
  color:var(--accent-color);
  border: 2px solid var(--accent-color);
}

//INPUT
.input-shadow:focus{
  box-shadow: none !important;
}

.home-search{
  height: 50px;
  
}

.btn-like{
  color: var(--accent-color);
  transition:  1s;
}

.btn-like:hover{
  transform: scale(1.2);
}

//CARD
.card-prodotto {
  width: 350px;
  height: 500px;
  border-radius: 50px;
  box-shadow: 20px 20px 20px #b7c1c2 !important;
}

.border-card{
  border-radius: 40px;
}

.img-card{
  width: 100%;
  height: 200px;
  background-image: url('http://picsum.photos/1920/1080');
  background-position: center;
  background-size: cover;
  border-radius: 40px;
}

.card-text{
  color: var(--second-color);
  font-size: 10px;
}
.card-shadow{
  box-shadow: 7px 7px 15px rgba(189, 189, 189, 0.842);
}
.btn-card{
  width: 120px;
  background-color: var(--accent-color);
}
.btn-card a{
  color: #fefefe;
}

.form-custom{
  border-radius: 40px;
  box-shadow: 7px 7px 15px rgba(189, 189, 189, 0.842);
}


.form-custom-show{
  border-radius: 40px;
  box-shadow: 7px 7px 15px rgba(189, 189, 189, 0.842);
  height: auto;
}

.img-show{
  border-radius: 20px;
}

.input-shadow-form:focus{
  box-shadow: 0px 0px 8px var(--text-color) !important;
}

.border-custom-card-dashboard{
  border: 2px solid #D4D4D4 ;
  border-radius: 20px;
  width:150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.alert-success-custom{
  color: white;
  background-color: #4749ef;
  border: none;
}

.alert-success-mail{
  color: white;
  background-color: #8CA4FA;
  border: none;
}

.alert-danger-custom{
  color: white;
  background-color: #d64242;
  border: none;
}

//TABELLE
td{
  border: none !important;
}
thead{
  color: #ACABB9;
}

.revisor-header{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #8CA4FA;
}
.revisor-shadow{
  border-radius: 40px;
  box-shadow: 7px 7px 15px rgba(189, 189, 189, 0.842);
}
.form-custom2{
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}


.h-120{
  height: 130px !important;
}


.gallery-top {
  height: 80%;
  width: 100%;
}



.img-rounded{
  border-radius: 40px;
}

//MODALI
.modal-content {
  border-radius: 40px !important;
}

//PAGINATION
.page-link {
  color: #8CA4FA !important;
  border: none !important;
}
.page-link:hover {
  background-color: white !important;
  color: var(--accent-color) !important;
}
.page-link:focus {
  color: white !important;
  background-color: #8CA4FA !important;
  box-shadow: none !important;
}
.page-item.active .page-link {
  background-color: #8CA4FA !important;
  color: white !important;
}

//BANDIERA
.flag{
  width: 12px;
  height: 8px;
}

//AEROOOOOEO 
.aeroplano{
  animation-name: volo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes volo{
  0%   {transform: translateX(-100px);}
  20%  {transform: translate(20vw, -70px) rotateZ(0deg);}
  40%  {transform: translate(40vw, -50px) rotateZ(25deg);}
  60%  {transform: translate(60vw, -160px) rotateZ(0deg);}
  80%  {transform: translate(80vw, -140px) rotateZ(25deg);}
  100% {transform: translate(100vw, -190px) rotateZ(0deg);}
}

//DROPDOWN
.dropdown-item:hover, .dropdown-item:focus {
  color: white !important;
  background-color: var(--accent-color) !important;
}

.btn3:hover{
 color: var(--accent-color);
}

//MEDIA QUERIES


@media screen and (max-width: 1676px) {
  .new-bg1 {
      background-image: url('/media/layout-md-8_Tavola\ disegno\ 1\ copia\ 2.jpg');
      background-size: cover;
      background-position: center;
      width: 100%;
  }
  .bg-new2 {
      background-image: url('/media/layout-md-9-09.jpg');
      background-size: cover;
      background-position: center;
      width: 100%;
  }
  .bg-img3 {
      background-image: none;
  }
}  

.outline-transition-none {
  outline: none !important;
  transition: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.btn-info {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--accent-color);
  border: none;
}
.btn-info:hover {
  background-color:var(--accent-color)!important;
}
.position-custom2 {
  position: relative;
  top: -150px;
}

@media screen and (max-width:1662px){
  .position-custom-lg {
    position: relative;
    top: -105px;
  }
}

@media screen and (min-width: 1676px) {
  .img-new {
      display: none !important;
  }
  .text-lg-white {
      color: white; 
  }
  .w-lg-75 {
      width: 75% !important;
  }
  .ms-xl-200 {
      margin-left: 200px;
  }

  .margin-custom-lg{
    padding-top: 100px;
  }

  
}

@media (min-width:993px) and (max-width: 1138px) {
  .margin-t-ipod-pro{
    margin-top: 200px;
  }
}

@media (min-width:992px) and (max-width: 1675px) {
  .bg-img2 {
    // background-image: url('/media/bg-presto_Tavola-unita-secondaparte.png');
    // background-size: cover;
    // background-position: center;
    height: 1000px;
  }
}
@media screen and (max-width: 1400px) {
  .row-justify-mobile {
    display: flex;
    justify-content: center !important;
  }
}

@media screen and (max-width: 992px) {
  .bg-img1 , .bg-img2 , .bg-lg-img3 {
      height: auto;
  } 
  .d-md-hidden {
      visibility: hidden;
  }
  .bg-descrizione-md{
    background-color:#8588fb !important;
  }

  .position-custom2 {
      position: relative;
      top: 40px;
  }

}
@media screen and (min-width: 992px) {
  .ps-lg-100 {
      padding-left: 100px;
  }
  .mt-100 {
      margin-top: 100px;
  }
  .position-custom {
    position: relative;
    top: -200px;
  }
  .text-align-center {
    text-align: center !important;
  }

  

}
@media screen and (min-width: 576px) {
  .line-height60 {
      line-height: 60px;
  }

  .img-desk1{
    width: 50% ;
  }
}
@media screen and (max-width: 576px) {
  .display-none {
      display: none;
  }
  .home-search{
    height: 50px;
    padding-left:18px;
  }

  .img-mobile1{
    width: 75% ;
  }
}

@media screen and (max-width: 400px) {
  .card-prodotto {
      width: 300px;
      box-shadow: 20px 20px 10px #b7c1c2 !important;

  }
  .img-1 {
      width: 260px;
  }
}

@media screen and (max-width: 768px) {
  
}